style="text-aling: center">Sobre a Confeitaria Doce&Sabor
   
    style="text aling: center">Visão:A  Doce&Sabor pretende estar entre as melhores, mais lembradas e respeitadas empresas de seu segmento

  style"font-size: 20px; text-aling: center"><em>Nossa missão é:<strong>"Produzir, fornecer e distribuir doces com elevado padrão de qualidade, prezando pela experiência no atendimento e respeito pelos seus clientes, crescimento e Desenvolvimento Pleno na área alimentícia, mantendo a qualidade, sabor e tradição dos verdadeiros Doces caseiros"

   style="text-aling: center">Valores:Busca constante da melhoria e qualidade de seus produtos, na logística e no atendimento ás necessidades de seus clientes,comprometimento ético e valorização dos colaboradores, distribuidores e fornecedores. ética, empreendedorismo, transparência, responsabilidade social e ambiental, credibilidade nos serviços e total higiene com os produtos fabricados.
